/**********************************/
/******* Imagen ventas ************/
/**********************************/
.imagen-venta{
    position: relative;
    overflow: hidden;
}

.imagen-venta a{ 
    width: 400px;
    height: 400px; 
}

.imagen-venta img{
    width: 100%;
    height: 300px;
    transition: all .3s;
}

.brand-image-cuadrado {
    width: 150px;
    height: 150px;
}

.brand-image-rectangular {
    width: 270px;
    height: 150px;
}
